@import 'src/styles/variable.scss';

.signUp {
  background-color: $clr_bgd;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  &-form {
    width: 928px;
    background-color: #161b22;
    border-radius: 12px;
    border: 1px solid #494f57;
    padding: 20px;

    h2 {
      font-size: 48px;
      font-weight: 700;
      background: linear-gradient(90deg, #2af598 0%, #009efd 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 24px;
    }

    .auth-form {
      path {
        color: #fff;
      }
    }
  }
}
