@import 'src/styles/variable.scss';

.signUp {
  background-color: $clr_bgd;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 220px 0 120px;
  &-form {
    width: 928px;
    background-color: #161b22;
    border-radius: 12px;
    border: 1px solid #494f57;
    padding: 20px;

    h2 {
      font-size: 48px;
      font-weight: 700;
      background: linear-gradient(90deg, #2af598 0%, #009efd 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 0 2rem 24px;
    }

    .auth-form {
      path {
        color: #fff;
      }
    }
  }
}

@media (max-width: 980px) {
  .signUp {
    .signUp-form {
      width: 90%;
    }
  }
}

@media (max-width: 600px) {
  .signUp {
    &-form {
      h2 {
        font-size: 32px;
        line-height: 48px;
        margin: 0 0 12px;
      }
    }
    .half {
      width: 100%;
    }
    .form-form {
      margin: 0;
    }
  }
}
