@import 'src/styles/variable.scss';

.footer-section {
  background-color: #161b22;

  &-content {
    height: 88px;
    @include flex-space-between;
    align-items: center;
    max-width: 1800px;

    p {
      font-size: 12px;
      color: $clr_grey;
    }
  }

  &-social-medias {
    display: flex;
    gap: 16px;

    .social-media {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      padding: 8px;
      border-radius: 12px;
      background-color: $clr_bgd;
      cursor: pointer;
    }

    path {
      fill: #fff;
    }
  }
}
